/*
    ProcedureChecklist Classes
*/
.LabelHeader {
    display: inline-block;
    width: 80%;
    padding-bottom: 20px;
}
#ProcedureDropdown {
    width:35%;
    margin-bottom: 10px;
}
.IncidentsTable {
    width: 100%;
    margin: 10px 0px 10px 0px;
}
.PanelLabelHeader {
    width: 60%;
    margin: 10px auto 20px auto;
}
.TableHeader td {
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    margin: auto;
}

.CashCountTable {
    width: 100%;
    border: solid;
    border-color: darkgray;
    border-top-color: black;
}

.ProcedureTable {
    width: 100%;
    border: solid;
    border-color: darkgray;
    border-top-color: black;
}

.ProcedureTable .TableHeader td {
    font-weight: bold;
}

.ProcedureTable input[type=text] {
    width: 90%;
    background-color:darkgray;
    margin: auto;
}

.CheckboxTable {
    width: 100%;
    margin: 0px 0px 5px 0px;
    border: solid;
    border-color: darkgray;
    border-top-color: black;
}

.CheckboxTable td {
    border: solid;
    border-color: darkgray;
}

.TotalTable {
    width: 80%;
    margin: 10px 0px 10px 0px;
}

.BankDepositTable {
    width: 100%;
    border: solid;
    border-color: darkgray;
    border-top-color: black;
}

.CalcButton {
    margin-top: 10px;
    height: 40px;
    border: 3px ridge blue;
}

.BankDepositTable input[type=text] {
    width: 75%;
    background-color: darkgray;
    margin: auto;
}
.CommentTable {
    width: 100%;
    margin-bottom: 10px;
    border: solid;
    border-color: darkgray;
    border-top-color: black;
}
.CommentTable td {
    border-bottom: 1px solid black;
}

.AmountInputText {
    text-align: center;
    font-weight: bold;
}

/*
    Other classes
*/

body {
    background-color: #99ccff;
}


.GridViewHeaderContainer {
    border: 1px solid black;
}

.GridViewBodyContainer {
    border: 1px solid black;
}

.ConfirmationLabel {
    margin-top: 20px;
}

.ContactTable {
    margin: auto;
}

.SRControl:disabled {
    color: black;
    background-color: white;
}

.SRControl[disabled] {
    color: black;
    background-color: white;
}

.SRControl[disabled="disabled"] {
    color: black;
    background-color: white;
}

.aspNetDisabled {
    color: black;
    background-color: white;
}

    .aspNetDisabled.MultilineTextbox[disabled="disabled"] {
        color: black;
        background-color: #fff;
    }

input[type=text]:disabled {
    color: black;
    background-color: #fff;
}

input[disabled='disabled'] {
    color: black;
    background-color: #fff;
}

.MainForm {
    background-color: #ffffff;
    border: 3px solid #000000;
    margin: auto;
    width: 85%;
    padding: 30px;
    text-align: center;
}

.ServiceRequestDiv {
    page-break-after: always;
}

.SRMainForm {
    background-color: #ffffff;
    border: 3px solid #000000;
    margin: auto;
    width: 100%;
    padding: 30px;
    text-align: center;
}

.LeftColumnGridDiv {
    width: 49.5%;
    float: left;
    clear: left;
    margin-bottom: 15px;
}

.AbsolutePos {
    position: static;
}

.RightColumnGridDiv {
    width: 48%;
    float: right;
    clear: right;
    margin-bottom: 15px;
}

.LeftFloatDiv {
    overflow: hidden;
}

.RightFloatDiv {
    overflow: hidden;
}

.DetailsViewClass {
    margin: auto;
    border-style: solid;
}

.Centered {
    margin: auto;
}

.TextCentered {
    text-align: center;
}

.GridViewClass {
    width: 80%;
    margin: auto;
}

.LoginTable {
    width: 80%;
    margin: auto;
}

.ServiceRequestTable {
    width: 100%;
    margin: 1px auto auto auto;
}

.ServiceRequestStyleTable {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.ServiceRequestCustomerStyleTable {
    width: 100%;
    margin-bottom: 20px;
}

.FullWidth {
    width: 100%;
}

.WordWrapClass {
    text-wrap: normal;
    max-width: 120px;
    word-wrap: normal;
    word-break: break-all;
}

.SearchResultsClass {
    margin: auto;
    height: 200px;
}

.GridWidth {
    width: 950px;
}

#IssueTextDiv {
    margin-top: 5px;
}

#IssueLabel {
    font-weight: bold;
}

.CommandFieldClass {
    margin: 5px;
}

#IssueDetailView {
    width: 100%;
}

.RequiredError {
    padding: 5px;
    color: red;
    clear: both;
    float: right;
}

.SRRequiredError {
    padding: 5px;
    color: red;
    clear: both;
}

.PricingError {
    color: aquamarine;
}

.TableMenu {
    clear: both;
}

#PrintDetailsView {
    width: 100%;
}

#AddUserPanel {
    margin: auto;
}

.pagebreakbeforediv {
    page-break-before: always;
    page-break-inside: avoid;
    position: relative;
    overflow-x:visible;
}

.InputTable {
    margin-top: 10px;
    clear: both;
    width: 48%
}

.TableForm {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.PageAction {
    margin: auto;
}

.PanelClearClass {
    clear: left;
}

.TableFormLabel {
    margin-left: 10px;
    float: right;
}

.FieldHeaderClass {
    padding-left: 6px;
}

.TableFormButton {
    width: 140px;
    margin: auto;
}

.PanelClass {
    width: 100%;
}

.GridDiv {
    width: 100%;
    margin: auto;
}

.DefaultFormButton {
    width: 65%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.LogoDiv {
    margin: auto;
    width: 80%;
    padding-bottom: 10px;
}

#ExpiryDateLabel {
    margin-left: auto;
    margin-right: auto;
}

.MainLabel {
    text-align: right;
    vertical-align: central;
    padding-right: 1em;
    float: left;
}

#CreateCustButton {
    float: right;
}

.LabelDiv {
    clear: both;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    width: 80%;
}

.SRLabelDiv {
    clear: both;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    width: 100%;
}

.ExpiryDate {
    clear: both;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 70%;
}

.ErrorStar {
    float: right;
    padding-right: 10px;
    color: red;
}

.ListDiv {
    clear: both;
    margin-left: auto;
    margin-right: auto;
    width: 380px;
}

.ActionSelect {
    width: 150px;
}

.inputbox {
    width: 150px;
    float: right;
}

.leftButton {
    width: 150px;
    float: left;
}

#LoginList {
    width: 350px;
}

.TableDiv {
    clear: both;
    margin-left: auto;
    margin-right: auto;
}

#LoginGridView {
    margin: auto;
    width: 100%;
}

#QuoteDetailsView {
    margin-top: 10px;
}
