body {
    background-color: #99ccff;
}
/* (TO-DO) Create rules for left and right buttons */
.MainForm {
    background-color: #ffffff;
    border: 3px solid #000000;
    margin: auto;
    width: 85%;
    padding: 30px;
    text-align: center;
}
.LeftColumnGridDiv{
    width: 48%;
    float: left;
}
.RightColumnGridDiv {
    width:48%;
    float: right;
}
#NoUserSelectedTable, #SelectedCustDetailsView, #CustGridView{
    width:100%;
}
.LeftFloatDiv{
    overflow:hidden;
}
.RightFloatDiv {
    overflow: hidden;
}
.GridViewClass {
    width:100%;
    margin: auto;
}
#AddUserTable{
    width: 100%;
    margin: auto;
}
#IssueTextDiv {
    margin-top: 5px;
}
#IssueLabel{
    font-weight:bold;
}

.CommandFieldClass{
    margin: 5px;
}

#IssueDetailView{
    width:100%;
}
.RequiredError {
    color:red;
}
.TableMenu{
    clear:both;
}

#AddUserPanel {
    margin: auto;
}
.InputTable{
    margin-top: 10px;
    clear:both;
    width:48%
}
.TableForm {
    width:100%;
    margin-top: 10px;
    }
.PageAction {
    width: 100%;
}

.TableFormLabel{
    float: right;
}

.TableFormButton {
    width: 100%;
}

.DefaultFormButton{
    width:65%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.LogoDiv
{
    margin: auto;
    width: 80%;
    padding-bottom: 10px;
}

#ExpiryDateLabel {
    margin-left: auto;
    margin-right: auto;
}
.MainLabel {
    text-align: right;
    vertical-align:central;
    padding-right: 1em;
    float: left;
}

#CreateCustButton {
    float:right;
}
.LabelDiv {
    clear: both;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 25px;
    width:80%;
    }

.ExpiryDate {
    clear: both;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 70%;
}

.ErrorStar
{
    float:right;
    padding-right:10px;
    color:red;
}
.ListDiv {
    clear: both;
    margin-left: auto;
    margin-right: auto;
    width: 380px;
}

.inputbox {
    width: 150px;
    float: right;
}

.leftButton{
    width:150px;
    float:left;
}

#LoginList {
    width:350px;
}

.TableDiv {
    clear: both;
    margin-left: auto;
    margin-right: auto;
}
#LoginGridView {
    margin: auto;
    width:100%;
}
#QuoteDetailsView
{
    margin-top:10px;
    }
